@model Jawwi.web.Weather.Location

@{
    ViewData["Title"] = "Home Page";
}

@{
    var currentDt = DateTime.Now;
    var fontColor = (Model.IsDayTime ? "#999aff" : "#0203a1");
}

<div class="container">
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <div class="weather">
                <div class="current" style="background-image: url('../images/icons/@Model.WeatherIcon-s.png');background-repeat: no-repeat;background-size: 100%; color:@fontColor">
                    <div class="info">
                        <div class="location">
                            <button class="btn btn-primary"><i class="fa fa-plus"></i>Location</button>
                        </div>
                        <div class="temp">@Model.Temperature&deg;<small>C</small></div>
                        <div class="city">@currentDt.ToString("dddd MMM d, yyyy HH:mm")</div>
                        <div class="city">@Model.Name, @Model.Area</div>
                        <div class="wind"><small><small>WIND:</small></small>@Model.Wind</div>
                        <div class="wind"><small><small>Humidity:</small></small>@Model.RelativeHumidity%</div>
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <img src="~/images/icons/@Model.WeatherIcon-s.png" alt="Alternate Text" />
                    </div>
                </div>
                <h4 class="card-header">Hourly Forecast</h4>
                <div class="future slider">
                    @for (int i = 0; i < 24; i++)
                    {
                        <div class="hour slide">
                            <h3>@(currentDt.AddHours(i + 2).ToString("HH:00"))</h3>
                            <div class="temp">22&deg;<small>C</small></div>
                            <div class="templowhigh">9&deg;<small>C</small>/18&deg;<small>C</small></div>
                            <p><img src="~/images/rainy-icons.svg" alt="Alternate Text" /></p>
                        </div>
                    }
                </div>
                <h4 class="card-header">Daily Forecast</h4>
                <div class="future slider">
                    @for (int i = 1; i <= 7; i++)
                    {
                        <div class="day slide">
                            <h3>@(currentDt.AddDays(i).ToString("ddd"))</h3>
                            <div class="temp">22&deg; <small>C</small></div>
                            <div class="templowhigh">9&deg;<small>C</small>/18&deg;<small>C</small></div>
                            <p><img src="~/images/rainy-icons.svg" alt="Alternate Text" /></p>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" crossorigin="anonymous"></script>
}