@model IEnumerable<Jawwi.web.Models.LocationsViewModel>

@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<p>
    <a asp-action="addlocation">Add location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.RegionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.WeatherText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.HasPrecipitation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.IsDayTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.WeatherIcon)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.RegionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.WeatherText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.HasPrecipitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.IsDayTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.Temperature)
            </td>
            <td>
                <img src="@Url.Content($"~/wwwroot/images/icons/{item.Condition?.WeatherIcon}-s.png")" style="width:50px;" />
                
            </td>
        </tr>
        }
    </tbody>
</table>
